.blogComments {
	color: $mainFontColor;
	display: flex;
	flex-direction: column;

			justify-content: flex-end;
			// justify-content: ;

			// height: 90vh;
			// align-items: center;
			// align-items: flex-end;
			// align-items: center;
			// align-items: flex-end;

	width: 60%;
			
			// flex-basis: 60%;
	
	padding-top: 20px;
	margin-right: 5%;

	.postedComment {
		display: flex;
		flex-direction: row;

				flex-wrap: wrap;
				// align-items: center;
				flex: 1 0 auto;
		justify-content: space-between;
	}
	 
	h4 {
		margin-bottom: 6px;
	}
	h2,
	.commentText {
		margin-bottom: 30px;
	}

	.profilePicture {
		width: 10%;


	}

	.commentText {
		width: 85%;
				// height: auto;
	}
}