.blogComments {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;

	margin-right: 5%;
	padding-top: 20px;

	width: 60%;

	.postedComment {
		display: flex;
		flex-flow: row wrap;
		flex: 1 0 auto;
		justify-content: space-between;
	}

	h4 {
		margin-bottom: 6px;
	}
	h2,
	.commentText {
		margin-bottom: 30px;
	}

	.profilePicture {
		width: 10%;
	}

	.commentText {
		width: 85%;
	}
}

@media (max-width: 768px) {
	.blogComments {
		width: 90%;
	}
}
