.contactMain {
	@include secondaryFontText();
	@include fontSize(8);
	
	display: flex;
	color: $mainFontColor;
	flex-flow: row-wrap;

	@media (max-width: 600px) {
		flex-flow: column nowrap;
	}

	nav,
	p {
		width: 90%;
		margin: auto 5%;
	}
	
	aside {
		margin: 10% auto;
		order: 1;
		width: 35%;

		@media (max-width: 600px) {
			order: 0;
			text-align: center;
			width: 90%;	
		}	

		p:nth-child(2) {
			margin: 30px auto;
		}
	}
	
	ul {
		display: flex;
		justify-content: space-between;

		a {
			@include fontSize(15);
		}
	}
	
	form {
		background-color: $secondaryAccentColor;
		box-shadow: 10px 10px $accentColor;
		order: 2;
		position: relative;
		bottom: 100px;
		width: 60%;

		@media (max-width: 600px) {
			margin-top: 10%;
			order: 0;
			width: 100%;
			position: static;
		}
	}	
}