.contactMain {
	display: flex;
	flex-flow: row-wrap;

	nav,
	address {
		margin: 8% 5% 10%;

		width: 90%;
	}

	aside {
		order: 1;

		margin: 10% auto 10% 0;

		width: 25%;

		p:nth-child(2) {
			margin: 30px auto;
		}
	}

	ul {
		display: flex;
		justify-content: space-between;

		a {
			@include fontSize(30);

			padding-left: 0px;
		}
	}

	form {
		order: 2;

		box-shadow: 10px 10px $accentColor;

		width: 60%;

		position: relative;
		bottom: 100px;
	}
}

@media (max-width: 600px) {
	.contactMain {
		flex-flow: column nowrap;

		aside {
			order: 0;

			width: 100%;

			text-align: center;
		}

		ul {
			a {
				justify-content: space-between;

				padding: 0;
			}
		}

		form {
			order: 0;

			margin-top: 10%;

			width: 100%;

			position: static;
		}
	}
}
