form {
	margin-bottom: 5%;

	width: 100%;

	textarea,
	input {
		@include fontSize(8);

		background-color: transparent;

		padding: 3%;
	}

	.personalInfo {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;

		margin: auto 5%;
	}

	input {
		border: none;
		border-bottom: 2px solid $mainFontColor;

		margin-top: 5%;

		width: 45%;

		@media (max-width: 600px) {
			margin-bottom: 5%;

			width: 100%;
		}
	}

	textarea {
		border: 2px solid $mainFontColor;
		resize: none;

		margin: 5% 5% auto;

		height: auto;
		width: 90%;
		min-width: 300px;
	}

	button {
		margin: 10% 5%;

		width: 90%;
	}
}
