// General body styling
body {
	background-color: $mainColor;
	font-size: 62.5%;
}

.wrapper {
	max-width: 1500px;

	margin: 0% auto;

	width: 90%;
}

// Hx
h1 {
	@include primaryFontText();
	@include fontSize(70);

	margin-top: 15%;

	@media (max-width: 600px) {
		margin-top: 50%;

		text-align: center;
	}

	@media (max-width: 600px) {
		@include fontSize(50);
	}
}

h2 {
	@include primaryFontText();
	@include fontSize(25);
}

h3 {
	@include primaryFontText();
	@include fontSize(12);
}

h4 {
	@include secondaryFontTextBold();
	@include fontSize(10);
}

// Other text elements

a {
	text-decoration: none;

	&:hover,
	&:focus {
		color: $accentColor;
	}
}

button {
	@include fontSize(13);

	border: 1px solid $secondaryColor;

	line-height: 1.8rem;

	padding: 5px 15px;

	text-align: center;

	&:hover,
	&:focus {
		background-color: $secondaryColor;
		color: $accentColor;
	}
}

img {
	display: inline-block;
}

img,
.firstSection,
.secondSection .ourPrograms,
.secondSection .newLocations,
.gallery .wrapper {
	width: 100%;
}

li {
	list-style: none;
}

li,
p {
	@include fontSize(9);

	line-height: 1.2rem;
}

// Global colors

// Common
h1,
a,
footer,
form textarea,
form input,
// Found in Home section;
.firstSection,
.ourPrograms,
.newLocations,
.events,
.roadTrips,
// Found in Blog section;
.blogMainSection,
.blogComments,
// Found in Contact section;
.contactMain {
	color: $mainFontColor;
}

button {
	color: $secondaryColor;
}

.firstSection .icon {
	color: $secondaryAccentColor;
}

// Global background colors
footer {
	background-color: $secondaryColor;
}

button,
// Found in Home section;
.firstSection .icon,
// Found in Blog section;
.blogPictureContainer {
	background-color: $accentColor;
}

// Found in Home section;
.secondSection,
.gallery,
// Found in Blog section;
.blogMainSection aside,
// Found in Contact section;
.contactMain form {
	background-color: $secondaryAccentColor;
}

// Global fonts
button {
	@include primaryFontText();
}

li,
p,
form textarea,
form input footer,
// Found in Contact section;
.contactMain {
	@include secondaryFontText();
}
