body {
	background-color: $mainColor;
	font-size: 62.5%;
}

h1 {
	@include primaryFontText();
	@include fontSize(70);
	color: $mainFontColor;
}

h2 {
	@include primaryFontText();
	@include fontSize(25);
}

// h3 {}

h4 {
	@include secondaryFontTextBold();
	@include fontSize(10);
}

a {
	text-decoration: none;
}

button {
	border: 1px solid $secondaryColor;
	color: $secondaryColor;
	background-color: $accentColor;
	text-align: center;
	@include primaryFontText();
	@include fontSize(13);
	line-height: 1.8rem;
	padding: 5px 15px;

	&:hover,
	&:focus {
		background-color: $secondaryColor;
		color: $accentColor;
	}
}
img {
	width: 100%;
}

li {
	list-style: none;
}

li,
p {
	@include secondaryFontText;
	@include fontSize(9);
	line-height: 1.2rem;
}



.wrapper {
	margin: 0% auto;
	max-width: 1500px;
	width: 90%;
}
