// General body styling
body {
	background-color: $mainColor;
	font-size: 62.5%;
}

// Headers
h1 {
	@include primaryFontText();
	@include fontSize(70);

	color: $mainFontColor;

	margin-top: 15%;

		@media (max-width: 600px) {
			margin-top: 50%;

			text-align: center;
		}

	@media (max-width: 600px) {
		@include fontSize(50);
	}
}

h2 {
	@include primaryFontText();
	@include fontSize(25);
}

// h3 {}

h4 {
	@include fontSize(10);
	@include secondaryFontTextBold();
}

// Other text elements

a {
	color: $mainFontColor;
	text-decoration: none;

	&:hover,
	&:focus {
		color: $accentColor;
	}
}

button {
	@include fontSize(13);
	@include primaryFontText();

	background-color: $accentColor;
	border: 1px solid $secondaryColor;
	color: $secondaryColor;
	
	line-height: 1.8rem;
	
	padding: 5px 15px;
	
	text-align: center;

	&:hover,
	&:focus {
		background-color: $secondaryColor;
		color: $accentColor;
	}
}
img {
	display: inline-block;
	
	width: 100%;
}

li {
	list-style: none;
}

li,
p {
	@include fontSize(9);
	@include secondaryFontText;
	
	line-height: 1.2rem;
}

// Global class styling

.wrapper {
	max-width: 1500px;
	
	margin: 0% auto;
	width: 90%;
}

.blogComments,
.blogMainSection,
.contactMain,
footer {
	color: $mainFontColor;
}

footer {
	background-color: $secondaryColor;
}

.blogPictureContainer {
	background-color: $accentColor;
}

.blogMainSection aside,
.contactMain form {
	background-color: $secondaryAccentColor;
}

