.headerNav {
	width: 100%;
	padding-top: 90px;

	ul {
		display: flex;
		flex-direction: row;
	}

	li {
		flex: 1 0 auto;
	}

	a {
		@include secondaryFontTextBold();
		@include fontSize(10);
		letter-spacing: 1px;
		color: $mainFontColor;

		&:hover,
		&:focus {
			color: $accentColor;
		}
	}

	.currentPage {
		border-bottom: 3px solid $accentColor;
	}
}