header {
	width: 100%;
	height: 80vh;
}

.homeHeader {
	background: url("../assets/homeHeader.jpg") no-repeat center;
	background-size: cover;
}

.blogHeader {
	background: url("../assets/blogHeader.jpg") no-repeat center;
	background-size: cover;
}

.contactHeader {
	background: url("../assets/contactHeader.jpg") no-repeat center;
	background-size: cover;
}
