.firstSection,
.firstSection .homeArticle,
.ourPrograms,
.newLocations,
.roadTrips,
.events,
.events .eventImageContainer,
.gallery .wrapper {
	display: flex;
}

.homeImageContainer {
	float: right;

	width: 50%;

	position: relative;
	bottom: 200px;
	right: 5%;
}

.firstSection {
	flex-flow: row wrap;

	.homeArticle {
		justify-content: space-around;

		margin-bottom: 10%;

		width: 50%;
	}

	.icon {
		@include fontSize(15);

		border-radius: 50%;
		line-height: 2rem;
		text-align: center;

		display: flex;
		align-items: center;
		justify-content: center;

		height: 60px;

		width: 60px;
	}

	.text {
		padding: auto 5%;

		width: 80%;

		h2 {
			margin-bottom: 3%;
		}
	}
}

.secondSection {
	.ourPrograms,
	.newLocations {
		justify-content: space-between;
	}

	.opImageContainer,
	.nlImageContainer,
	.opText,
	.nlText {
		width: 45%;
	}

	.ourPrograms {
		margin-bottom: 5%;
	}

	.newLocations {
		flex-direction: row-reverse;

		margin-bottom: 7%;
	}

	.opImageContainer {
		img {
			position: relative;
			bottom: 20px;
			right: 20px;

			box-shadow: 20px 20px $accentColor;
		}
	}

	.nlImageContainer {
		img {
			position: relative;
			bottom: 20px;
			left: 20px;

			box-shadow: -20px 20px $accentColor;
		}
	}

	.opText,
	.nlText {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.opText {
		align-items: flex-start;
	}

	.nlText {
		align-items: flex-end;

		p {
			text-align: end;
		}
	}

	h3 {
		margin: 3% 0;
	}

	button {
		// margin-top: 5%;
		margin: 5% auto;
	}
}

.roadTrips {
	flex-flow: column wrap;
	align-items: center;
	justify-content: center;

	margin: 10% auto 5%;

	text-align: center;

	p {
		margin: 3% auto;
		padding-bottom: 20px;
	}
}

.bannerImg {
	background: url("../assets/banner.jpg") no-repeat center;
	background-size: cover;

	height: 50vh;

	margin: 20px 0px;
}

.events {
	flex-flow: row-wrap;
	justify-content: space-between;

	margin: 5% auto;

	.eventImageContainer {
		align-items: center;

		width: 25%;

		img {
			box-shadow: -10px 10px $accentColor;
		}
	}

	.eventText {
		width: 70%;

		p {
			margin: 20px auto;
		}
	}
}

.gallery .wrapper {
	flex-flow: row wrap;
	justify-content: space-between;

	.galleryImageContainer {
		margin: auto;
		padding: 3%;

		min-width: 300px;
		width: 30%;
	}
}

@media (max-width: 768px) {
	.firstSection {
		.homeArticle {
			width: 100%;
		}
	}

	.secondSection {
		.ourPrograms,
		.newLocations {
			flex-direction: column;

			.opImageContainer,
			.nlImageContainer,
			.opText,
			.nlText {
				width: 100%;
			}
			.opImageContainer,
			.nlImageContainer,
			.opText,
			.nlText {
				align-items: center;

				text-align: center;

				margin: 5% auto;
			}

			.opImageContainer,
			.nlImageContainer {
				position: static;

				max-width: 550px;

				img {
					position: static;

					box-shadow: none;
				}
			}
		}
	}

	.events {
		flex-direction: column;

		.eventImageContainer,
		.eventText {
			width: 100%;
		}

		.eventImageContainer {
			margin: auto;

			max-width: 550px;

			img {
				box-shadow: none;
			}
		}

		.eventText {
			margin-top: 5%;

			text-align: center;
		}
	}
}

@media (max-width: 600px) {
	.homeImageContainer {
		position: static;

		margin: 10% 5%;

		width: 90%;
	}

	.events {
		flex-direction: column;

		.opImageContainer,
		.nlImageContainer {
			img {
				box-shadow: none;
			}
		}

		.eventText {
			display: flex;
			flex-flow: row wrap;
			align-items: center;
			justify-content: center;

			margin-top: 5%;

			p {
				text-align: center;
			}
		}
	}
}

@media (max-width: 480px) {
	.firstSection {
		.homeArticle {
			flex-flow: column;
			justify-content: center;
		}

		.icon {
			margin: auto;
		}

		.text {
			text-align: center;

			margin-top: 5%;

			width: 100%;

			h2 {
				margin: 5% auto;
			}
		}
	}
}
