.firstSection,
.firstSection .homeArticle,
.ourPrograms,
.newLocations,
.roadTrips,
.events,
.events .eventImgContainer {
	display: flex;
}

.homeImageContainer {
	float: right;

	width: 50%;

	position: relative;
	bottom: 200px;
	right: 5%;

	@media (max-width: 600px) {
		width: 90%;
	}
}

.firstSection {
	flex-flow: row wrap;

	.homeArticle {
		justify-content: space-around;

		margin-bottom: 10%;

		width: 50%;
	}

	.icon {
		@include fontSize(15);
		line-height: 2rem;
		text-align: center;

		display: flex;
		justify-content: center;
		align-items: center;
		height: 60px;
		width: 60px;
		border-radius: 50%;
	}

	.text {
		width: 80%;
		padding: auto 5%;
	}
}

.secondSection {
	.newLocations {
		flex-direction: row-reverse;
		margin-top: 5%;
	}

	.opImageContainer,
	.nlImageContainer,
	.opText,
	.nlText {
		width: 50%;
	}
}

.bannerImg {
	background: url("../assets/banner.jpg") no-repeat center;
	background-size: cover;
	height: 50vh;
	margin: 20px 0px;
}

.events {
	flex-flow: row-wrap;
	justify-content: space-between;

	margin: 5% auto;

	.eventImgContainer {
		align-items: center;

		width: 25%;

		img {
			box-shadow: -10px 10px $accentColor;
		}
	}

	.eventText {
		width: 70%;

		p {
			margin: 20px auto;
		}
	}
}

.gallery .wrapper {
	flex-flow: row-wrap;
	justify-content: space-between;

	.galleryImgContainer {
		margin: 5% auto;

		width: 30%;
	}
}
