.secondSection, 
.gallery {
	background-color: $secondaryAccentColor;
} 

.firstSection,
// .secondSection,
.ourPrograms,
.newLocations,
.roadTrips,
.events {
	color: $mainFontColor;
	display: flex;
}

.homeImageContainer {
	float: right;
	width: 50%;
	
	position: relative;
	bottom: 200px;
	right: 5%;

	@media (max-width: 600px) {
		width: 90%;
	}
}

.firstSection  {
	display: flex;
	flex-flow: row wrap;
	width: 100%;
	

	.homeArticle {
		display: flex;
		justify-content: space-around;
		width: 50%;
		margin-bottom: 10%;
	}

	.icon {
		color: $secondaryAccentColor;
		background-color: $accentColor;
		@include fontSize(15);
		line-height: 2rem;
		text-align: center;
		
		display: flex;
		justify-content: center;
		align-items: center;
		height: 60px;
		width: 60px;
		border-radius: 50%;
	}

	.text {
		width: 80%;
		padding: auto 5%;
	}
}

.secondSection  {

	.ourPrograms,
	.newLocations {
		width: 100%;
	}

	.newLocations {
		flex-direction: row-reverse;
		margin-top: 5%;
	}

	.opImageContainer,
	.nlImageContainer,
	.opText,
	.nlText {
		width: 50%;
	}
}

.bannerImg {
	background: url("../assets/banner.jpg") no-repeat;
	background-size: cover;
	height: 50vh;
	margin: 20px 0px;
} 

.events {
	flex-flow: row-wrap;
	justify-content: space-between;

	margin: 5% auto;

	.eventImgContainer {
		width: 25%;
		display: flex;
		align-items: center;

		img {
			box-shadow: -10px 10px $accentColor;
		}
	}

	.eventText {
		width: 70%;

		p {
			margin: 20px auto;
		}
	}
}

.gallery .wrapper {
	display: flex;
	flex-flow: row-wrap;
	justify-content: space-between;
	
	.galleryImgContainer {
		width: 30%;
		margin: 5% auto;
	}
}

