// Colors
$mainColor:#03697C;
$secondaryColor: #044779;
$accentColor: #08FDED;
$secondaryAccentColor:#474BB5;
$mainFontColor: #F3FAFF;

// Font stacks
@mixin primaryFontText() {
	font-family: 'Walter Turncoat', cursive;
	font-weight: 400px;
}
@mixin secondaryFontText() {
	font-family: 'Roboto', sans-serif;
	font-weight: 400px
}
@mixin secondaryFontTextBold() {
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
}
@mixin fontSize($sizeValue){
	font-size: $sizeValue * 1px;
    font-size: ($sizeValue/10) * 1rem;
}