@charset "UTF-8";
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio, canvas, video {
  display: inline-block;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button, html, input, select, textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: .2em 0;
  background: #ccc;
  color: #000;
  padding: .2em 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  background-color: #03697C;
  font-size: 62.5%;
}

.wrapper {
  margin: 0% auto;
  width: 90%;
  max-width: 1500px;
}

h1 {
  font-family: 'Walter Turncoat', cursive;
  font-weight: 400px;
  font-size: 70px;
  font-size: 7rem;
  margin-top: 15%;
}

@media (max-width: 600px) {
  h1 {
    margin-top: 50%;
    text-align: center;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 50px;
    font-size: 5rem;
  }
}

h2 {
  font-family: 'Walter Turncoat', cursive;
  font-weight: 400px;
  font-size: 25px;
  font-size: 2.5rem;
}

h3 {
  font-family: 'Walter Turncoat', cursive;
  font-weight: 400px;
  font-size: 12px;
  font-size: 1.2rem;
}

h4 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 10px;
  font-size: 1rem;
}

a {
  text-decoration: none;
  -webkit-transition: color 200ms ease-in-out;
  transition: color 200ms ease-in-out;
}

a:hover, a:focus {
  color: #08FDED;
}

button {
  font-size: 13px;
  font-size: 1.3rem;
  border: 1px solid #044779;
  line-height: 1.8rem;
  padding: 5px 15px;
  text-align: center;
  -webkit-transition: background-color 200ms ease-in-out, color 200ms ease-in-out;
  transition: background-color 200ms ease-in-out, color 200ms ease-in-out;
}

button:hover, button:focus {
  background-color: #044779;
  color: #08FDED;
}

img {
  display: inline-block;
}

img,
.firstSection,
.secondSection .ourPrograms,
.secondSection .newLocations,
.gallery .wrapper {
  width: 100%;
}

li {
  list-style: none;
}

li,
p {
  font-size: 9px;
  font-size: 0.9rem;
  line-height: 1.2rem;
}

h1,
a,
footer,
form textarea,
form input,
.firstSection,
.ourPrograms,
.newLocations,
.events,
.roadTrips,
.blogMainSection,
.blogComments,
.contactMain {
  color: #F3FAFF;
}

button {
  color: #044779;
}

.firstSection .icon {
  color: #474BB5;
}

footer {
  background-color: #044779;
}

button,
.firstSection .icon,
.blogPictureContainer {
  background-color: #08FDED;
}

.secondSection,
.gallery,
.blogMainSection aside,
.contactMain form {
  background-color: #474BB5;
}

button {
  font-family: 'Walter Turncoat', cursive;
  font-weight: 400px;
}

li,
p,
form textarea,
form input footer,
.contactMain {
  font-family: 'Roboto', sans-serif;
  font-weight: 400px;
}

header {
  height: 80vh;
  width: 100%;
}

.homeHeader {
  background: url("../assets/homeHeader.jpg") no-repeat center;
  background-size: cover;
}

.blogHeader {
  background: url("../assets/blogHeader.jpg") no-repeat center;
  background-size: cover;
}

.contactHeader {
  background: url("../assets/contactHeader.jpg") no-repeat center;
  background-size: cover;
}

.headerNav {
  width: 100%;
  padding-top: 90px;
}

.headerNav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.headerNav li {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.headerNav a {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 10px;
  font-size: 1rem;
  letter-spacing: 1px;
  color: #F3FAFF;
}

.headerNav a:hover, .headerNav a:focus {
  color: #08FDED;
}

.headerNav .currentPage {
  border-bottom: 3px solid #08FDED;
}

.firstSection,
.firstSection .homeArticle,
.ourPrograms,
.newLocations,
.roadTrips,
.events,
.events .eventImageContainer,
.gallery .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.homeImageContainer {
  float: right;
  width: 50%;
  position: relative;
  bottom: 200px;
  right: 5%;
}

.firstSection {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.firstSection .homeArticle {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 10%;
  width: 50%;
}

.firstSection .icon {
  font-size: 15px;
  font-size: 1.5rem;
  border-radius: 50%;
  line-height: 2rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 60px;
  width: 60px;
}

.firstSection .text {
  padding: auto 5%;
  width: 80%;
}

.firstSection .text h2 {
  margin-bottom: 3%;
}

.secondSection .ourPrograms,
.secondSection .newLocations {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.secondSection .opImageContainer,
.secondSection .nlImageContainer,
.secondSection .opText,
.secondSection .nlText {
  width: 45%;
}

.secondSection .ourPrograms {
  margin-bottom: 5%;
}

.secondSection .newLocations {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin-bottom: 7%;
}

.secondSection .opImageContainer img {
  position: relative;
  bottom: 20px;
  right: 20px;
  -webkit-box-shadow: 20px 20px #08FDED;
          box-shadow: 20px 20px #08FDED;
}

.secondSection .nlImageContainer img {
  position: relative;
  bottom: 20px;
  left: 20px;
  -webkit-box-shadow: -20px 20px #08FDED;
          box-shadow: -20px 20px #08FDED;
}

.secondSection .opText,
.secondSection .nlText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.secondSection .opText {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.secondSection .nlText {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.secondSection .nlText p {
  text-align: end;
}

.secondSection h3 {
  margin: 3% 0;
}

.secondSection button {
  margin: 5% auto;
}

.roadTrips {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10% auto 5%;
  text-align: center;
}

.roadTrips p {
  margin: 3% auto;
  padding-bottom: 20px;
}

.bannerImg {
  background: url("../assets/banner.jpg") no-repeat center;
  background-size: cover;
  height: 50vh;
  margin: 20px 0px;
}

.events {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row-wrap;
          flex-flow: row-wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 5% auto;
}

.events .eventImageContainer {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 25%;
}

.events .eventImageContainer img {
  -webkit-box-shadow: -10px 10px #08FDED;
          box-shadow: -10px 10px #08FDED;
}

.events .eventText {
  width: 70%;
}

.events .eventText p {
  margin: 20px auto;
}

.gallery .wrapper {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.gallery .wrapper .galleryImageContainer {
  margin: auto;
  padding: 3%;
  min-width: 300px;
  width: 30%;
}

@media (max-width: 768px) {
  .firstSection .homeArticle {
    width: 100%;
  }
  .secondSection .ourPrograms,
  .secondSection .newLocations {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .secondSection .ourPrograms .opImageContainer,
  .secondSection .ourPrograms .nlImageContainer,
  .secondSection .ourPrograms .opText,
  .secondSection .ourPrograms .nlText,
  .secondSection .newLocations .opImageContainer,
  .secondSection .newLocations .nlImageContainer,
  .secondSection .newLocations .opText,
  .secondSection .newLocations .nlText {
    width: 100%;
  }
  .secondSection .ourPrograms .opImageContainer,
  .secondSection .ourPrograms .nlImageContainer,
  .secondSection .ourPrograms .opText,
  .secondSection .ourPrograms .nlText,
  .secondSection .newLocations .opImageContainer,
  .secondSection .newLocations .nlImageContainer,
  .secondSection .newLocations .opText,
  .secondSection .newLocations .nlText {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    margin: 5% auto;
  }
  .secondSection .ourPrograms .opImageContainer,
  .secondSection .ourPrograms .nlImageContainer,
  .secondSection .newLocations .opImageContainer,
  .secondSection .newLocations .nlImageContainer {
    position: static;
    max-width: 550px;
  }
  .secondSection .ourPrograms .opImageContainer img,
  .secondSection .ourPrograms .nlImageContainer img,
  .secondSection .newLocations .opImageContainer img,
  .secondSection .newLocations .nlImageContainer img {
    position: static;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

@media (max-width: 600px) {
  .homeImageContainer {
    position: static;
    margin: 10% 5%;
    width: 90%;
  }
  .events {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .events .opImageContainer img,
  .events .nlImageContainer img {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .events .eventText {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 5%;
  }
  .events .eventText p {
    text-align: center;
  }
}

@media (max-width: 480px) {
  .firstSection .homeArticle {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .firstSection .icon {
    margin: auto;
  }
  .firstSection .text {
    text-align: center;
    margin-top: 5%;
    width: 100%;
  }
  .firstSection .text h2 {
    margin: 5% auto;
  }
}

form {
  margin-bottom: 5%;
  width: 100%;
}

form textarea,
form input {
  font-size: 8px;
  font-size: 0.8rem;
  background-color: transparent;
  padding: 3%;
}

form .personalInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto 5%;
}

form input {
  border: none;
  border-bottom: 2px solid #F3FAFF;
  margin-top: 5%;
  width: 45%;
}

@media (max-width: 600px) {
  form input {
    margin-bottom: 5%;
    width: 100%;
  }
}

form textarea {
  border: 2px solid #F3FAFF;
  resize: none;
  margin: 5% 5% auto;
  height: auto;
  width: 90%;
  min-width: 300px;
}

form button {
  margin: 10% 5%;
  width: 90%;
}

.blogMainSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 120vh;
}

@media (max-width: 768px) {
  .blogMainSection {
    display: block;
    height: auto;
  }
}

.blogMainSection aside {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  height: 68%;
  margin-top: 50px;
}

.blogMainSection aside h3 {
  margin-bottom: 10px;
}

.blogMainSection aside h3:nth-last-child(2) {
  margin-top: 30px;
}

.blogMainSection aside li {
  padding-left: 5px;
}

.blogMainSection aside li:before {
  content: "•";
  color: #08FDED;
}

.blogMainSection aside .asideImageContainer {
  position: relative;
  left: -30px;
  top: -20px;
}

.blogMainSection aside .recentPosts {
  padding: 20px;
}

@media (max-width: 768px) {
  .blogMainSection aside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .blogMainSection aside .asideImageContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 50px auto 30px;
    width: 60%;
    position: static;
  }
  .blogMainSection aside .recentPosts {
    width: 100%;
  }
}

.blogMainSection article {
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
  position: relative;
  top: -150px;
}

@media (max-width: 768px) {
  .blogMainSection article {
    margin-top: 50px;
    position: static;
  }
}

.blogMainSection article .blogPictureContainer img {
  position: relative;
  left: 30px;
  top: -30px;
}

@media (max-width: 768px) {
  .blogMainSection article .blogPictureContainer img {
    position: static;
  }
}

.blogMainSection article .blogPost {
  border-left: 3px solid #08FDED;
  border-bottom: 3px solid #08FDED;
  padding: 20px 50px;
}

.blogMainSection article p {
  padding-top: 20px;
}

.blogComments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 5%;
  padding-top: 20px;
  width: 60%;
}

@media (max-width: 768px) {
  .blogComments {
    width: 90%;
  }
}

.blogComments .postedComment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blogComments h4 {
  margin-bottom: 6px;
}

.blogComments h2,
.blogComments .commentText {
  margin-bottom: 30px;
}

.blogComments .profilePicture {
  width: 10%;
}

.blogComments .commentText {
  width: 85%;
}

.contactMain {
  font-size: 8px;
  font-size: 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row-wrap;
          flex-flow: row-wrap;
}

@media (max-width: 600px) {
  .contactMain {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
}

.contactMain nav,
.contactMain address {
  margin: 8% 5%;
  width: 90%;
}

.contactMain aside {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  margin: 10% auto 10% 0;
  width: 25%;
}

@media (max-width: 600px) {
  .contactMain aside {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    width: 90%;
    text-align: center;
  }
}

.contactMain aside p:nth-child(2) {
  margin: 30px auto;
}

.contactMain ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contactMain ul a {
  font-size: 15px;
  font-size: 1.5rem;
}

.contactMain form {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  -webkit-box-shadow: 10px 10px #08FDED;
          box-shadow: 10px 10px #08FDED;
  width: 60%;
  position: relative;
  bottom: 100px;
}

@media (max-width: 600px) {
  .contactMain form {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    margin-top: 10%;
    width: 100%;
    position: static;
  }
}

footer {
  font-size: 12px;
  font-size: 1.2rem;
  padding: 20px;
  text-align: center;
}
